player-connection-mode=Listen
player-connection-guid=1233997450
player-connection-debug=0
player-connection-project-name=DeckBuilderGame
player-connection-ip=192.168.1.18
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c072ae87d97d49a4b8372d7ae909b3eb
