player-connection-mode=Listen
player-connection-guid=3294350505
player-connection-debug=0
player-connection-project-name=DeckBuilderGame
player-connection-ip=192.168.1.144
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fc85c6313cd14fa287197a6f903d024e
